<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="jumbotron">
      <h1>Word Search</h1>
    </div>
      <h2>Your Results</h2><br>
        <h4>The word @Model.UserCheck occurs @Model.Repeats times.</h4>

      <h5><a href="/">Search Again</a></h5><br>
    </div>
